@import "tailwindcss";
/* @import "tailwindcss/preflight.css" layer(base); */

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@theme {
  --font-sans: var(--font-vazir);
  /* --font-mono: "Fira Code", monospace; */
}

@utility hide-scrollbar {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}